workspace/node_modules/
workspace/out/
examples/cpp/build
examples/python/__pycache__/

workspace/media/resources/

workspace/media/dynamic/

*.vsix

examples/cpp/main

workspace/vy_groups/

examples/plot/plot.json

examples/display_results/test.json
examples/cpp/*.html
